/* ==========================================================================
   Fonts CSS assets
   ========================================================================== */

    h1 {
        color: black;
    }

    #header-h1 {
        color: white;
        position: relative;
        top: -22px;
        font-size: 18px;
    }

    h2 {
        color: #333;
        text-align:center;
    }

    h1 .material-icons,
    h2 .material-icons,
    h3 .material-icons,
    button .material-icons {
        position: relative;
        top: 4px;
    }

    .basic-block-paragraph{
        text-align: center;
        font-size: 19px;
        color: #303030;
        font-weight: 500;
    }

    #app-logo{
        font-size: 55px;
        text-align: center;
    }

    /* Imported fonts
    ==========================================================================*/

    @font-face {
        font-family: "Comfortaa";
        src: url("../Fonts/Comfortaa/comfortaa-VariableFont_wght.ttf") format("truetype");
    }

    @font-face {
        font-family: "Playfair_Display";
        src: url("../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    }

    @font-face {
        font-family: "Yeseva_One";
        src: url("../Fonts/Yeseva_One/YesevaOne-Regular.ttf") format("truetype");
    }