/* ===========================================  ===============================
   General CSS assets
   ========================================================================== */

    body {
        background: rgb(230,161,0);
        background: radial-gradient(circle,
            rgba(230,161,0,0.6838936258096988) 0%,
            rgba(220,66,100,0.8183474073223039) 9%,
            rgba(113,24,220,1) 34%,
            rgba(24,109,220,1) 66%,
            rgba(27,227,131,0.7595238779105392) 100%
        );
        font-family: sans-serif;
        height: 100vh;
        transition: 0.99s all cubic-bezier(0.165, 0.84, 0.44, 1);
        background-size: 400% 400%;
    }

    *{
        transition:all 0.25s ease-in-out;
    }

    h1, h2, h3, h4, h5{
        font-family:Comfortaa !important;
    }

    #main-logo{
        width: 135px;
        margin: auto;
        height: 135px;
    }

    .main-color-blue{
        color:#186ddc;
    }

    .main-color-purple{
        color:#7118dc;
    }

    /* Use case CSS classes
    ==========================================================================*/
    .center {
        text-align: center;
    }
    
    .color-black {
        color: black;
    }
    
    .display-none {
        display: none !important;
    }

    /* Animations assignments
    ==========================================================================*/
    body{
        animation: loadBackgroundBody 60s ease-in infinite;
    }

    form input:nth-of-type(2n+1) {
        animation: 1s ease-out 0s 1 slideInLeft;
    }

    form input:nth-of-type(2n) {
        animation: 1s ease-out 0s 1 slideInRight;
    }

    .products-box:nth-of-type(2n+1){
        animation: 0.5s ease-in loadListItems
    }

    .products-box:nth-of-type(2n){
        animation: 1s ease-in loadListItems
    }

    #main-logo{
        animation: 1s ease-out 0s 1 slideInBottom;
    }


    /* General content blocks and minor assets
    ==========================================================================*/

    .user-message{
        text-align: center;
        background-color: white;
        padding: 25px 0;
        box-shadow: 0 2px 6px #afafaf;
        margin: 50px 0 20px 0;
    }

    .general-return-upper-block{
        text-align: center;
        background-color: #f1f1f1;
        padding: 25px 0;
    }

    .general-return-upper-block a{
        color: #7118dc;
    }

    .general-return-upper-block a:hover{
        color: #186ddc;
    }

