/* ==========================================================================
   Animations CSS assets
   ========================================================================== */

    /* Animations definitions
    ==========================================================================*/
    @keyframes slideInLeft {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(50%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideInBottom {
        0% {
            transform: translateY(15%);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes loadBackgroundBody{
        0% {
            background-position: 0% 25%;
        }
        15% {
            background-position: 25% 50%;
        }
        30% {
            background-position: 50% 75%;
        }
        45% {
            background-position: 100% 75%;
        }
        60% {
             background-position: 75% 50%;
         }
        75% {
            background-position: 50% 25%;
        }
        90% {
            background-position: 25% 0%;
        }
        100% {
            background-position: 0% 25%;
        }
    }

    @keyframes loadListItems{
        0% {
            transform: translateY(50%);
        }
        100% {
            transform: translateY(0);
        }
    }









