/* ==========================================================================
   Forms CSS assets
   ========================================================================== */

    /* Login form
    ==========================================================================*/
    #login-form {
        margin: 25px auto;
        width: 375px;
        height: auto;
        background-color: white;
        border-radius: 3px;
        padding: 50px 25px 25px 25px;
    }

    label {
        color:#292929;
        font-size: 16px;
        font-weight: 700;
        margin: auto;
        display: table;
    }

    #login-form input[type=email],
    #login-form input[type=password] {
        width: 100%;
        padding: 15px 15px;
        margin: 20px auto;
        box-sizing: border-box;
        font-size: 16px;
        box-shadow: 0 1px 3px #d2d2d212;
        border-radius: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #e8e8e8;
        /*outline: 5px solid rgba(24, 109, 220, 0.09);*/
    }

    #login-form input[type=email]:not(:placeholder-shown),
    #login-form input[type=password]:not(:placeholder-shown),
    #login-form input[type=email]:focus,
    #login-form input[type=password]:focus {
        outline: 5px solid #3106630f;
        color: #7118dc;
        background-color: #e8e8e80f;
    }

    #login-form input[type=email]:placeholder-shown,
    #login-form input[type=password]:placeholder-shown {
        color: #141414;
    }



    /* Product update & create form
    ==========================================================================*/

    #product-form {
        margin: auto;
        width: 475px;
        height: auto;
        background-color: white;
        border-radius: 3px;
        padding: 15px;
    }

    #product-form input {
        width: 100%;
        padding: 15px 15px;
        margin: 20px auto;
        box-sizing: border-box;
        font-size: 16px;
        box-shadow: 0 1px 3px #d2d2d212;
        border-radius: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #e8e8e8;
    }

    #product-form input[type=text]:not(:placeholder-shown),
    #product-form input[type=text]:focus,
    #product-form input[type=number]:not(:placeholder-shown),
    #product-form input[type=number]:focus{
        outline: 5px solid #3106630f;
        color: #7118dc;
        background-color: #e8e8e80f;
    }

    #product-form input[type=text]:placeholder-shown,
    #product-form input[type=number]:placeholder-shown{
        color: #141414;
    }

    /* Search input
    ==========================================================================*/
    #search-box{
        margin:auto;
        width: 75%;
    }

    #searchInput {
        width: calc(100% - 15px);
        padding: 15px;
        margin: 20px auto;
        box-sizing: border-box;
        font-size: 16px;
        box-shadow: 0 1px 3px #d2d2d212;
        border-radius: 30px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #e8e8e8;
        text-align: center;
    }

    #searchInput:not(:placeholder-shown),
    #searchInput:focus  {
        outline: 5px solid #3106630f;
        color: #7118dc;
        background-color: #e8e8e80f;
    }

    #searchInput:placeholder-shown {
        color: #141414;
    }

