@media only screen and (min-width: 200px) and (max-width: 500px) {
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }
    #main-content-block a button {
        margin: 20px auto 20px auto;
    }
    table td {
        padding: 5px;
    }
    table th {
        padding: 10px;
    }
    #searchInput {
        text-align: center;
    }
    #login-form,
    #product-form {
        margin: auto;
        width: auto !important;
        background-color:transparent !important;
    }

    th:nth-of-type(2),
    td:nth-of-type(2) {
        display:none;
    }

}