@media only screen and (min-width: 200px) and (max-width: 750px) {
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center !important;
    }
    #main-content-block a button {
        margin: 20px auto 20px auto !important;
    }
    table{
        width: calc(100% - 150px) !important;
    }
    table td {
        padding:20px 2px !important;
    }
    table td:nth-of-type(1){
        width:30%;
    }
    table td:nth-of-type(2),
    table td:nth-of-type(3){
        width:20%;
    }
    table td:nth-of-type(4){
        width:30%;
    }
    table th {
        padding: 5px !important;
    }
    #searchInput {
        text-align: center !important;
    }
    #login-form,
    #product-form {
        margin: auto;
        width: auto !important;
        background-color:transparent !important;
    }

}