/* ===========================================  ===============================
   General CSS assets
   ========================================================================== */

    body {
        background: #186ddc;
        background: -webkit-linear-gradient(230deg, #186ddc 0%, #7118dc 100%);
        background: linear-gradient(230deg, #186ddc 0%, #3d3fd5 25%, #9615e0 75%, #7118dc 100%);
        font-family: sans-serif;
        height: 100vh;
        transition: 0.99s all cubic-bezier(0.165, 0.84, 0.44, 1);
        background-size: 400% 400%;
    }

    *{
        transition:all 0.25s ease-in-out;
    }

    #main-logo{

    }

    /* Use case CSS classes
    ==========================================================================*/
    .center {
        text-align: center;
    }
    
    .color-black {
        color: black;
    }
    
    .display-none {
        display: none !important;
    }

    /* Animations assignments
    ==========================================================================*/
    form input:nth-of-type(2n+1) {
        animation: 1s ease-out 0s 1 slideInLeft;
    }

    form input:nth-of-type(2n) {
        animation: 1s ease-out 0s 1 slideInRight;
    }

    body{
        animation: loadBackgroundBody 20s ease-in infinite;
    }

    .products-box:nth-of-type(2n+1){
        animation: 0.5s ease-in loadListItems
    }

    .products-box:nth-of-type(2n){
        animation: 1s ease-in loadListItems
    }

    .user-message{
        text-align: center;
        background-color: white;
        padding: 25px 0;
        box-shadow: 0 2px 6px #afafaf;
        margin: 50px 0 20px 0;
    }

    .general-return-upper-block{
        text-align: center;
        background-color: #f1f1f1;
        padding: 25px 0;
    }

    .general-return-upper-block a{
        color: #7118dc;
    }

    .general-return-upper-block a:hover{
        color: #186ddc;
    }

